div#report-viewing {
    display: flex;
    flex-direction: column;
    padding: 2rem auto;
    align-items: center;
    text-align: center;
    gap: 2.25rem;
    font-family: 'Open Sans', sans-serif;
}

select {
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid #ccc;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    appearance: none;
    background-image: url('../../../assets/icons/arrow-down.svg');
    background-position: calc(100% - 1.5rem) center;
    background-repeat: no-repeat;

    & option {
        color: #adadad;
    }
}

div#teacher-info {
    display: flex;
    justify-content: center;
    gap: 9rem;
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 2rem;

    & span {
        margin-right: 1rem;
        font-weight: 600;
    }
}

div#average-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;

    & span {
        font-weight: 600;
    }
}

div.fields {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 25%;

    & p.filters {
        border: 2px solid #3fa14c;
        border-radius: 15px;
        padding: 0.125rem 0.5rem;
        opacity: 0.9;
    }
}

div#filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    gap: 2.5rem
}

div#filter-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & button {
        width: 6.5rem;
        height: 2.25rem;
        font-size: 0.85rem;
    }
}


div#averages {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

div.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#spinner-text {
    position:relative;
    top: -13.5rem; 
    left: 0.25rem;
    color: #3fa14c;
    font-size: 6rem;
    font-weight: 700;
    height: 2rem;
    text-align: center;
}

div#situation {
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
    color: #3fa14c;
    font-weight: 700;
}

div#dimension-average {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 5rem;
}

div.each-dimension {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.dimension-spinner-text {
    position:relative;
    top: -5.25rem; 
    left: 0rem;
    color: #3fa14c;
    font-size: 2.5rem;
    font-weight: 700;
    height: 1rem;
}

div.dimension-title {
    margin:  0;
    font-size: 1.5rem;
    font-weight: 700;
}

div#dimension-sentences {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    width: 80%;

    & select {
        font-size: 1.25rem;
        font-weight: 700;
        width: 60%;
    }
}

div#sentences-averages {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    text-align: center;
}

div.each-sentence {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div.sentence-text {
    border: 2px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    width: 25rem;
}

div.sentence-average {
    position:relative;
    top: -3.95rem; 
    left: 0;
    color: #3fa14c;
    font-size: 2rem;
    font-weight: 700;
    height: 0;
}

div#buttons-section {
    padding-bottom: 2rem;
    
    & button {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}