div#report-viewing {
    display: flex;
    flex-direction: column;
    padding: 2rem auto;
    align-items: center;
    text-align: center;
    gap: 3rem;
    font-family: 'Nunito', sans-serif;
}

div#teacher-info {
    display: flex;
    justify-content: center;
    gap: 9rem;
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 2rem;

    & span {
        margin-right: 1rem;
        font-weight: 600;
    }
}

div#average-selection {
    width: 20%;

    & select {
        padding: 1.25rem 1.25rem 1.25rem 1.25rem;
        border-radius: 12px;
        border: 2px solid #ccc;
        color: #4d4d4d;
        font-family: 'Nunito', sans-serif;
        font-size: 1.25rem;
        font-weight: 500;
        width: 100%;
        outline: none;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        appearance: none;
        background-image: url('../../../assets/icons/arrow-down.svg');
        background-position: calc(100% - 1.5rem) center;
        background-repeat: no-repeat;
    
        & option {
            color: #adadad;
        }
    }
}


div#averages {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

div#spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#spinner-text {
    position:relative;
    top: -13.5rem; 
    left: 0.25rem;
    color: #3fa14c;
    font-size: 6rem;
    font-weight: 700;
    height: 2rem;
}

div#situation {
    margin-top: 1rem;
    font-size: 2rem;
    color: #3fa14c;
    font-weight: 700;
}

div#overall-average-title, div#specifics-average-title {
    font-weight: 600;
}

div#specifics-average {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}

div.each-average {
    width: 12rem;
}

div.dimension-average {
    margin: auto;
    font-size: 2.5rem;
    font-weight: 700;
    border: 8px solid black;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    line-height: 3.2;
}

div.dimension-average-title {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}

div.dimension-criteria {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
}


div.each-criterion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
    position: relative;
}

div.criterion-average-title {
    max-width: 70%;
    position: absolute;
    margin-right: 2rem ;
    font-weight: 600;
}

div.criterion-average {
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
    line-height: 2.4;
    position: absolute;
    right: 0;
}

div#buttons-section {
    padding-top: 3rem;

    & button {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}
