div#report-viewing {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
    text-align: center;
    gap: 3rem;
    font-family: 'Nunito', sans-serif;
}

div#teacher-info {
    display: flex;
    justify-content: center;
    gap: 7rem;
    font-weight: 500;

    & span {
        margin-right: 1rem;
        font-weight: 600;
    }
}

div#averages {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

div#overall-average {
    margin: 1.5rem auto;
    color: #3fa14c;
    font-size: 5rem;
    font-weight: 700;
    border: 12px solid #3fa14c;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    text-align: center;
    line-height: 2.4;
}

div#overall-average-title, div#specifics-average-title {
    font-weight: 600;
}

div#specifics-average {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}

div.each-average {
    width: 12rem;
}

div.aspect-average {
    margin: auto;
    font-size: 2.5rem;
    font-weight: 700;
    border: 8px solid black;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    line-height: 3.2;
}

div.aspect-average-title {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}

div.aspect-criteria {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
}


div.each-criterion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
    position: relative;
}

div.criterion-average-title {
    max-width: 70%;
    position: absolute;
    margin-right: 2rem ;
    font-weight: 600;
}

div.criterion-average {
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
    line-height: 2.4;
    position: absolute;
    right: 0;
}

#buttons-section {
    margin-top: 3rem;

    & button {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}
