<div id="home">
    <div id="logo">
        <img src="../../../assets/images/ifpb-logo.svg" alt="ifpb logo">
        <p>Instituto Federal da Paraíba</p>
    </div>
    <div id="home-main-section">
        <div id="home-text">
            Avaliação Docente pelos Discentes
        </div>
        <div id="home-image">
            <img src="../../../assets/images/home-image.svg" alt="home image">    
        </div>
    </div>
    <div id="buttons-section">
        <button class="btn btn-primary" (click)="goToUserIdentification()">
            Começar
        </button>
    </div>
</div>