div#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Open Sans, sans-serif;
    gap: 3rem;
    padding-top: 2rem;
}

div#logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 70%;
        font-weight: bold;
    }
}

div#home-main-section {
    display: flex;
    justify-content: space-around;
}

div#home-text {
    max-width: 37.5%;
    text-align: center;
    font-size: 4.25rem;
    font-weight: 700;
}

div#buttons-section button {
    width: 8.5rem;
    height: 3.25rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

@media (max-width: 75rem) {
    div#home-main-section {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    div#home-image img {
        margin-left: 12.5%;
        width: 75%;
    }

    div#home-text {
        max-width: 100%;
        font-size: 10.2vw;
    }
}