<div id="home">
    <div id="logo">
        <img src="../../../assets/images/ifpb-logo.svg" alt="ifpb-logo">
    </div>
    <div id="home-main-section">
        <div id="home-text">
            Avaliação Docente pelos Discentes
        </div>
        <div id="home-image">
            <img src="../../../assets/images/home-image.svg">    
        </div>
    </div>
    <div id="buttons-section">
        <button class="btn btn-primary" (click)="goToTeacherSelection()">
            Começar
        </button>
    </div>
</div>