<div id="teacher-selection-section">
    <div id="title-section" class="underline">
        <h1>Selecione um docente: </h1>
    </div>
    <div id="combo-box-section">    
        <select>
            <option value="value">Lorem ipsum, dolor sit amet consectetur</option>
            <option value="value">Adipisicing elit Maiores autem incidunt</option>
            <option value="value">Corrupti accusamus dolores ratione</option>
        </select>
    </div>
    <div id="buttons-section">
        <button class="btn btn-secondary">
            Relatório
        </button>
        <button class="btn btn-primary">
            Avaliar
        </button>
    </div>
</div>