<div id="teacher-selection-section">
    <div id="title-section" class="underline">
        <h1>Selecione um docente: </h1>
    </div>
    <div id="combo-box-section">    
        <select (change)="selectTeacher($event.target)">
            <option *ngIf="selectedTeacher.id === ''" value="" disabled selected>Selecione um docente</option>
            <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{ teacher.name }}</option>
        </select>
    </div>
    <div id="buttons-section">
        <button class="btn btn-secondary" (click)="goToHowItWork()">
            Voltar
        </button>
        <button class="btn btn-primary" (click)="goToReport()" [disabled]="!isTeacherSelected()">
            Relatório
        </button>
        <button class="btn btn-primary" (click)="goToTeachingSelection()" [disabled]="!isTeacherSelected()">
            Avaliar
        </button>
    </div>
</div>