<div id="teacher-selection-section">
    <div id="title-section" class="underline">
        <h1>Selecione um docente: </h1>
    </div>
    <div id="combo-box-section">    
        <select>
            <option *ngFor="let teacher of teachers" [value]="teacher.id">{{ teacher.name }}</option>
        </select>
    </div>
    <div id="buttons-section">
        <button class="btn btn-secondary">
            Relatório
        </button>
        <button class="btn btn-primary">
            Avaliar
        </button>
    </div>
</div>