div#thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Nunito, sans-serif;
    gap: 4rem;
    margin-top: 2rem;
}

div#thank-you-main-section {
    max-width: 80%;
    display: flex;
    justify-content: space-around;
}

div#thank-you-text {
    max-width: 60%;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 7rem;
}

div#buttons-section button {
    width: 10.5rem;
    height: 3.25rem;
    font-size: 1.25rem;
}

@media (max-width: 75rem) {
    div#thank-you-main-section {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    div#thank-you-image img {
        margin-left: 25%;
        width: 50%;
    }

    div#thank-you-text {
        padding-top: 4rem;
        max-width: 100%;
        font-size: 10.2vw;
    }
}