<div id="thank-you">
    <div id="logo">
        <img src="../../../assets/images/ifpb-logo.svg" alt="ifpb-logo">
    </div>
    <div id="thank-you-main-section">
        <div id="thank-you-image">
            <img src="../../../assets/images/thank-you-image.svg">    
        </div>
        <div id="thank-you-text">
            Obrigado pela sua avaliação.
        </div>
    </div>
    <div id="buttons-section">
        <button class="btn btn-primary" (click)="goToHome()">
            Voltar ao início
        </button>
    </div>
</div>