<div id="assessment-rating">
    <div id="dimension">
        <div id="dimension-title" class="underline">
            Dimensão:
        </div>
        <div id="dimension-info" [ngStyle]="{ 'color': this.currentDimensionColor }">
            <div id="dimension-name">
                {{this.currentDimension.dimension}}
            </div>
            <div id="dimension-description">
                {{this.currentDimension.description}}
            </div>
        </div>
    </div>
    <div id="sentence-rating">
        <div id="sentence-title" class="underline">
            Afirmativas:
        </div>
        <div *ngFor="let sentence of this.currentDimension.sentences" id="each-sentence-rating">
            <div id="sentence-description" [ngStyle]="{ 'color': this.currentDimensionColor }">
                {{ sentence }}
            </div>
            <div id="rating">
                <div  matTooltip="{{getFrequencyByRate(rate)}}" (click)="changeCurrentRate(rate, sentence)" class="rate" *ngFor="let rate of ratingRange" [ngClass]="{ 'rate-selected': isRateCurrent(rate, sentence) }" [ngStyle]="{ 'color': !isRateCurrent(rate, sentence) ? this.currentDimensionColor : '#fff', 'background-color': isRateCurrent(rate, sentence) ? this.currentDimensionColor : 'inherit' }">{{rate}}</div>
            </div>
            <div id="division-line"></div>
        </div>
    </div>
    <div id="buttons-section">
        <button (click)="previousSentence()" class="btn btn-secondary">
            Voltar
        </button>
        <button  *ngIf="!isLastDimension()" (click)="nextSentence()" class="btn btn-primary" [ngClass]="{ 'disabled': !isAllRateSelected() }">
            Próximo
        </button>
        <button  *ngIf="isLastDimension()" (click)="nextSentence()" class="btn btn-primary" [ngClass]="{ 'disabled': !isAllRateSelected() }">
            Finalizar
        </button>
    </div>
</div>