div#assessment-rating {
    padding: 1rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    font-family: Open Sans, 'sans-serif';
    gap: 4rem;
}

div#dimension-title, div#sentence-title, div#comments-title {
    text-align: center;
    font-size: 1.375rem;
    font-weight: 600;
}


div#dimension {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 2rem;
}

div#dimension-info {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

}

div#dimension-name {
    text-align: center;
    font-size: 2.25rem;
    font-weight: bold;
}

div#sentence-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 2rem;
}

div#each-sentence-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 75%;
}

div#sentence-description {
    border: 2px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
    padding: 1.25rem;
    height: auto;
    width: 85%;
}

div#rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#division-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border-radius: 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;

}

div.rate {
    margin: 0.5rem;
    min-width: 2.75rem;
    width: auto;
    height: 2.75rem;
    border: 2px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    text-align: center;
    line-height: 2.75rem;
    font-size: 1.25rem;
    font-weight: 600;

    &:hover {
        opacity: 0.75;
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.25s;
    }
}

div.rate-selected {
    color: #fff;
    font-size: bold;
    transform: scale(1.2);  
}

div#comments {
    display: flex;
    flex-direction: column;
    align-items: center;

    & textarea {
        resize: none;
        margin-top: 2rem;
        padding: 1rem 2.5rem 1rem 1rem;
        border-radius: 12px;
        border: 2px solid #ccc;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        width: 40vw;
        height: 5rem;
        font-family: Open sans;

    } & :focus {
        outline: none;
    }


}

#buttons-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

    & button {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 40rem) {

    div#sentence-rating {
        width: 90%;
    }

    div#dimension-name {
        font-size: 1.75rem;
    }

    div#sentence-description {
        font-size: 1.25rem;
        padding: 1rem;
        width: 95%;
        hyphens: auto;
    }
}