div {
    font-family: Nunito, 'sans-serif';
}

div#header {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

div#dimension-title, div#sentence-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    width: 50%;
}

div#main {
    margin: 1rem 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
}

div#dimension {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

div#dimension-info {
    border: 1px solid;
    border-radius: 1rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 60%;
}

div#dimension-name {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

div#dimension-description {
    text-align: justify;
    font-weight: 500;
    font-size: 1.25rem;
}

div#sentence-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

div#sentence {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20rem;
}

div#sentence-description {
    margin-top: 3rem;
    border: 1px solid;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 1rem;
    padding: 1.25rem;
    height: auto;
    width: 70%;
}

div#rating-section {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
}

div.rate {
    margin: 0.5rem;
    min-width: 2.75rem;
    width: auto;
    height: 2.75rem;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 2.75rem;
    font-size: 1.25rem;
    font-weight: 600;

    &:hover {
        opacity: 0.75;
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.25s;
    }
}

div.rate-selected {
    color: #fff;
    font-size: bold;
    transform: scale(1.2);  
}

#buttons-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & button {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}