<div id="teaching-selection-section">
    <div id="title-section" class="underline">
        <h1>Selecione a disciplina e o ano de avaliação: </h1>
    </div>
    <div id="combo-box-section">    
        <select (change)="selectSubject($event.target); updateYears()">
            <option *ngIf="selectedSubject.id === ''" value="" disabled selected>Selecione a disciplina</option>
            <option *ngFor="let subject of availableSubjects" >{{ subject.name }}</option>
        </select>
        <select (change)="selectYear($event.target)" [ngClass]="{ 'disabled': !isSubjectSelected() }">
            <option *ngIf="!selectedYear" value="" disabled selected>Selecione o ano</option>
            <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
        </select>
    </div>
    <div id="buttons-section">
        <button (click)="goToTeacherSelection()" class="btn btn-secondary">
            Voltar
        </button>
        <button class="btn btn-primary" (click)="goToAssessment()" [ngClass]="{ 'disabled': !isYearSelected() }">
            Avaliar
        </button>
    </div>
</div>