<div id="invite-section">
    <div id="invite-title" class="underline">
        <h1>Bem-vindo(a)!</h1>
    </div>
    <div id="invite-text">
        <p>Prezado(a) estudante do IFPB - Campus João Pessoa,</p>
        <p>Convido você a participar da avaliação docente relativa ao ano de 2023, considerando
            que você é um dos principais atores do processo de ensino-aprendizagem aplicado ao Ensino
            Técnico Integrado ao Médio (ETIM). Se esteve matriculado e obteve <b>frequência superior a 75% (setenta por cento)</b> em 2023,
            poderá participar do processo avaliativo.</p>
        <p>A participação não tem caráter obrigatório, entretanto a avaliação discente é um
            elemento primordial para que tenhamos um processo de planejamento pedagógico bem
            delineado e estruturado, que defina claramente às escolhas de conteúdos, de procedimentos, de
            atividades, de recursos disponíveis, de estratégias, de instrumentos de avaliação e de
            metodologias que favoreçam o processo de ensino-aprendizagem da Educação Profissional e
            Tecnológica (EPT).</p>
        <p>O objetivo da avaliação docente pelos discentes é fornecer dados e elementos da atuação
            dos professores, em especial nos aspectos didático-pedagógicos, para aprimorar o processo
            ensino-aprendizagem, que permitirá aos gestores e aos próprios docentes rever, planejar e
            aplicar políticas públicas de intervenção didática direta, que replique na atuação docente e, por
            consequência, na qualificação do binômio ensino/aprendizagem, consolidando os pontos fortes
            e atacando as fragilidades.</p>
        <p>Sabendo disso, você concorda em participar?</p>
    </div>
    <div id="buttons-section">
        <button class="btn btn-secondary" (click)="goToIdentification()">
            Não
        </button>
        <button class="btn btn-primary" (click)="goToHowItWork()">
            Sim
        </button>
    </div>
</div>