<div id="auth">
    <div id="auth-card">
        <div id="card-title" class="underline">{{ userType }}</div>
        <div id="card-input" [formGroup]="form">
            <input type="text" formControlName="username" placeholder="Usuário">
            <input type="password" formControlName="password" placeholder="Senha" (keydown.enter)="authenticate()">
        </div>
        <div id="card-buttons">
            <button class="btn btn-secondary" (click)="goToIdentification()">Voltar</button>
            <button class="btn btn-primary" (click)="authenticate()" [disabled]="!this.form.valid">Confirmar</button>
        </div>
    </div>
</div>

<!-- adapted from https://jasonwatmore.com/post/2023/01/03/angular-14-modal-popup-dialog-tutorial-with-example -->

<app-modal id="auth-fail-modal">
    <img src="../../../assets/icons/error.svg" alt="auth-fail">
    <h1>Falha na autenticação.</h1>
    <button class="btn btn-primary" (click)="closeModal()">Ok</button>
</app-modal>


<app-modal id="auth-success-modal">
    <img src="../../../assets/icons/success.svg" alt="auth-success">
    <h1>Login realizado com sucesso!</h1>
    <button  class="btn btn-primary" (click)="closeAndGoToNextPage()">Ok</button>
</app-modal>